@import 'modern-normalize';
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF ;
    margin: 0;
    padding-left: 0;
}

*:hover,
*:focus {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}
.header{
    box-shadow:0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
.container {
    max-width: 1158px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
.logo-span {
    color: #2e2f42;
    font-family: "Raleway", sans-serif; 
}
.header-nav{
    margin: 0;
        padding: 0;
    display: flex;
    gap: 40px;
    flex-grow: 1;
}
.navigation{
    margin-left: 156px;
    display: flex;
        align-items: center;
}
.header{
border-bottom: 1px solid #e7e9fc;
}
.site-logo {
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-right: 76px;
    text-decoration: none;
}
.footer .site-logo {
    margin-bottom: 16px;
}
.header-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .container{
    display: flex;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
.span-footer {
    color: #f4f4fd;
    font-family: Raleway, sans-serif;
}
.contact-list {
    display: flex;
        gap: 40px;
        padding: 24px 0;
        list-style: none;
        margin:0;
}
.nav-link-active,
.nav-link {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    text-decoration: none; }


.slogan-button:hover,
.slogan-button:focus{
background-color: #404BBF;
}

.nav-link-active{
    position: relative;
    color:#404BBF;
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link-active::after {
    content: "";
    position: absolute;
    border-radius: 1px;
    bottom: -1px;
   height: 4px;
left: 0;
   width: 48px;
   border-radius: 2px;
background-color: #404BBF;
}
.portfolio-examples-wrap{
    height: 100;
}
.contact-link:hover,
.contact-link:focus,
.nav-link-active:hover,
.nav-link-active:focus,
.nav-link:hover,
.nav-link:focus{
    color: #404BBF;
}
.contact-list{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: flex-end;
    margin-left:156px;
}
.contact-info {
    font-style: normal;
}
.svg-container{
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    border-color:#8E8F99 ;
    margin-bottom: 8px;
    border: 1px solid ;
    border-radius:4px;
    border: 1px solid #8e8f99;
    display: flex;
        align-items: center;
        justify-content: center;
}

.icons-section-two{
    width:64px;
     height:64px;
}
.contact-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.5;
    font-weight: 400;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio-examples,
.header-nav,
.site-logo,
address ul,
.advantsges-title {
    list-style: none;
}
.team-members{
    margin: 0;
    list-style: none;
}
.slogan{
    text-align: center;
    margin: 0 auto;
    line-height: 1.07;
    font-weight: 700;
     font-size:  56px;
    letter-spacing: 0.02em;
    max-width: 496px;
     color: #FFFFFF;

}
.section-one{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
    align-items: center;
    text-align: center;
    padding: 188px 0;
    margin: 0 auto;
    max-width: 1440px;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    background-position: center;
}
.slogan-button{
    cursor: pointer;
    line-height: 1.5;
    display: block;
    font-size: 16px;
    min-width: 169px;
    margin:auto;
    border-radius: 4px;
    height: 56px;
    font-weight: 500;
    margin-top: 48px;
    font-family: inherit;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #FFFFFF;
   border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.team-subtitle{
    margin: 0;
    justify-content: center;
    color: #2e2f42;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}

.team-subtitle {
    margin-bottom: 8px
}
.portfolio-pieses{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   position: relative;
    border: 1px solid #e7e9fc;
    width: calc((100% - 48px) / 3);
}
.portfolio-examples{
    margin: 0;
    display: flex;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    gap: 48px 24px;
    flex-wrap: wrap;
    }
    .portflio-container{
        border: 1px solid #e7e9fc;
        border-top: none;
    }
    .social-media-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap:24px;
    }
    .social-media-svg{
        fill:#f4f4fd;
            width: 16px;
            height:16px;
        
     }

     .media-list{
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
     }
    .advantage-text{
        line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
            font-weight: 400;
            margin: 0;
            margin-top: 8px;
            font-size: 16px;
    }
    .portfolio-examples-p,
        .team-paragraph{
            line-height: 1.5;
                letter-spacing: 0.02em;
                color: #434455;
                font-weight: 400;
                font-size: 16px;
        }
.portfolio-examples-p{
    margin: 0;
    margin-top: 8px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.advantsges-title{
    letter-spacing: 0.02em;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 24px;

}
.advantsges-titles-text {
        margin: 0;
        line-height: 1.2;
        letter-spacing: 0.02em;
        font-weight: 500;
        font-size: 20px;
        color: #2e2f42;
        margin-bottom: 8px;
    flex-basis: calc((100% - 3 * 24px) / 4);
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}
.team-title{
    text-transform: capitalize;
    letter-spacing: 0.02em;
        line-height: 1.11;
        font-weight: 700;
        margin: 0;
        font-size: 36px;
        color: #2e2f42;
        text-align: center;
        margin-bottom: 72px;
}

.footer{
    background-color: #2e2f42;
    margin: 0;
    display: flex;
    padding: 100px 0;
    

}
.footer-text{
    margin: 0;
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.section-three{
    background-color: #F4F4FD;
}

.portfolio-examples-title{
    margin: 0;
        color: #2e2f42;
        line-height: 1.2;
        letter-spacing: 0.02em;
        font-weight: 500;
        font-size: 20px;
 color:#2e2f42;
}
.team-paragraph{
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    text-align: center;
}
.portfolio {
    margin: 0;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    line-height: 1.11;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 72px;
    color: #2e2f42;
    text-align: center;
}


.section-four .container{
    position:relative;
}

.image-wrapper{
    overflow: hidden;
    position: relative;
    display: block;
}

.overlay{
    padding: 40px 32px;
    position: absolute;
        top: 0;
        left: 0;
        margin:0;
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        color: #F4F4FD;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0.02em;
        box-sizing: border-box;
        overflow: hidden;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
       
    }
        .portfolio-pieses:hover{
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        }
    .portfolio-pieses:hover .overlay {
        transform: translateY(0);
}
        
.portfolio-container-back:hover{
    transform: translate();
}
.portfolio-container-back,
.portfolio-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.team-members-list {
    
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
    background-color: #FFFFFF;
        width: calc((100% - 3 * 24px) / 4);
            border-radius: 0px 0px 4px 4px;
}
.team-members-list:hover {
    
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-members{
display: flex;
border-radius: 0px 0px 4px 4px;
gap: 24px ;
}


.section-four{
    padding-top: 120px;
        padding-bottom: 120px;
}


.section-three,
.section-two{
    padding: 120px 0;
}
.team-info{
    padding: 32px 0;
}
.portfolio-examples-title {
    margin-bottom: 8px;
}
.icons-footer-list{
   display:flex;
flex-direction: row;
    justify-content: center;
}

.social-media-title{
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    line-height: 1.5;
    margin-bottom: 16px;
    letter-spacing: 0.02em;
    color:#fff;
}


.footer-logo-text{
    align-items: baseline;
   width: 264px;
    margin-right: 120px;
}
.social-media-footer{
    flex: 2;
    align-items: baseline;
    margin-right: 120px;
}
.social-media{
    width: 40px;
        height: 40px;
    border-radius: 50%;
    align-items: center;
        justify-content: center;
    background-color: #4D5AE5;
    display: flex;
    gap: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-direction: row;
 }
 .icons-footer {
     display: flex;
     gap: 16px;
     list-style: none;
 }
 .icons-footer-item{
    width: 40px;
        height: 40px;
 }

 .icons-footer-svg,
 .social-media-svg {
    width: 16px;
        height: 16px;
        fill: #F4F4FD;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .social-media:hover,
 .social-media:focus  {
    width: 40px;
        height: 40px;
        fill: #F4F4FD;
        background-color: #404BBF;
        border-radius: 50%;
    }

        .icon-link:hover,
        .icon-link:focus {
            width: 40px;
            height: 40px;
            fill: #F4F4FD;
            background-color: #31D0AA;
            border-radius: 50%;  }

     
 .icon-link {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 40px;
     height: 40px;
     background-color: #4D5AE5;
     border-radius: 50%;
    flex-direction: row;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .footer .container {
    align-items: baseline;
     display: flex;
     justify-content: space-between;

 }